
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-post" style="display:block">
    <div class="mb-3" style="position:relative; ">
        <a class="btn btn-sm btn-create-post " href="" style="color: #fff;background-color: #6A1408;border-color: #6A1408; position:absolute;bottom:10px;right:0px;">Tạo bài viết</a>
    
    </div>
   
    <div class="card shadow mb-4">
        <div class="card  card-tasks">
            <div class="card-header py-3" style="background-color: #f8f9fc;">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách bài viết</h6>
            </div>
          
            <div class="card-body ">
                <div class="row"style="margin-bottom:10px">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="dataTable_length">
                            <label>Loại bài viết </label>
                            <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="dataTable_filter" class="dataTables_filter">
                            <label>Search:</label>
                            <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable" />
                        </div>
                    </div>
                    </div>
                <div class="table-full-width">
                    <table class="table table-sortable" cellspacing="0" width="100%" >
                        <thead>
                            <tr>
                                <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 57px;">
                                    Name <i class="fa fa-fw fa-sort"></i>
                                </th>
                                <th class="th-sm">
                                    Tiêu đề
                                </th>
                                <th class="th-sm">
                                    Tác giả
                                </th>
                                <th class="th-sm">
                                    Thao tác
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                <td>Nguyễn Văn A</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-link">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-link">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                      
                        </tbody>
                    </table>
                </div>
            </div>
           
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                </div>
            </div>

        </div>
      
    </div>
   
</div>

