@model IEnumerable<HoiDongYVN.Models.Post>

@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="album py-5 bg-light" style="background-color: #ffffff!important;">
        <div class="container">
        
            <div class="category news">
                <div class="new-title"
                     style="display: flex !important; align-items: center !important;justify-content: space-between !important; margin-bottom:20px">
                    <h4 style="text-align:left; display:inline">Tin tức hoạt động</h4>
                    <a class="btn btn-outline-success btn-sm btn-viewall " asp-area="" asp-controller="Home"
                       asp-action="Post" asp-route-FK_iTagID="1" >Xem tất cả</a>
                </div>
                <div class="row">
                   @if (Model != null && Model.Where(i => i.FkITag.STagname == "Tin tức hoạt động").Count() != 0)
                    {
                        @foreach (var item in Model.OrderByDescending(i => i.DUpDatedDate).Where(i => i.FkITag.STagname == "Tin tức hoạt động").TakeWhile((item, index) => index < 3))
                        {
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top"
                                         data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                         alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                                         src="/image/image_post/@item.SImage" data-holder-rendered="true">
                                    <div class="card-body">
                                        <p class="card-text">
                                            @item.STitle
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            </div>
                                            <small class="text-muted">9 mins</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                    else
                    {
                        <div class="col-md-12 mb-4">
                            <div class="d-block rounded text-center">
                                <h5>Không có bài viết nào</h5>
                            </div>
                        </div>
                    }
                  
                
                  

                </div>
            </div>
            <div class="category knowledge">
                <div class="new-title"
                     style="display: flex !important; align-items: center !important;justify-content: space-between !important; margin-bottom:20px">
                    <h4 style="text-align:left; display:inline">Kiến thức đông y</h4>
                    <a class="btn btn-outline-success btn-sm btn-viewall " asp-area="" asp-controller="Home"
                       asp-action="Post" asp-route-FK_iTagID="2" >Xem tất cả</a>
                </div>
                <div class="row">

                    @if (Model != null && Model.Where(i => i.FkITag.STagname == "Kiến thức đông y").Count() != 0)
                    {

                        @foreach (var item in Model.OrderByDescending(i => i.DUpDatedDate).Where(i => i.FkITag.STagname == "Kiến thức đông y").TakeWhile((item, index) => index < 3))
                        {
               
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top"
                                         data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                         alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                                         src="/image/image_post/@item.SImage" data-holder-rendered="true">
                                    <div class="card-body">
                                        <p class="card-text">
                                            @item.STitle
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            </div>
                                            <small class="text-muted">9 mins</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                    else
                    {
                        <div class="col-md-12 mb-4">
                            <div class="d-block rounded text-center">
                                <h5>Không có bài viết nào</h5>
                            </div>
                        </div>
                    }




                </div>
            </div>
            <div class="category document">
                <div class="new-title"
                     style="display: flex !important; align-items: center !important;justify-content: space-between !important; margin-bottom:20px">
                    <h4 style="text-align:left; display:inline">Văn bản pháp luật</h4>
                    <a class="btn btn-outline-success btn-sm btn-viewall " asp-area="" asp-controller="Home"
                       asp-action="Post" asp-route-FK_iTagID="3" >Xem tất cả</a>
                </div>
                <div class="row">
                    @if (Model != null && Model.Where(i => i.FkITag.STagname == "Văn bản pháp luật").Count() != 0)
                    {
                        @foreach (var item in Model.OrderByDescending(i => i.DUpDatedDate).Where(i => i.FkITag.STagname == "Văn bản pháp luật").TakeWhile((item, index) => index < 3))
                        {
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top"
                                         data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                         alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                                         src="/image/image_post/@item.SImage" data-holder-rendered="true">
                                    <div class="card-body">
                                        <p class="card-text">
                                            @item.STitle
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            </div>
                                            <small class="text-muted">9 mins</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                    else
                    {
                        <div class="col-md-12 mb-4">
                            <div class="d-block rounded text-center">
                                <h5>Không có bài viết nào</h5>
                            </div>
                        </div>
                    }




                </div>
            </div>
        </div>
    </div>
</div>
